* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #eeeeee;
  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
  }
  
  header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 60%;
    margin: auto auto;
  }
  
  input {
    height: 50px;
    font-size: 1rem;
    width: 80%;
    padding-left: 10px;
  }
  
  button.add {
    cursor: pointer;
    background: green;
    color: white;
    font-weight: bold;
    border: none;
    height: 50px;
    width: 20%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  
  main {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    margin: auto auto;
    padding-top: 40px;
  }
  
  .item {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px #ccc;
    margin-bottom: 2%;
    cursor: pointer;
  }
  
  .item.clicado {
    background: #d4f6d9;
  }
  
  .item.clicado .item-nome {
    text-decoration: line-through;
    color: gray;
  }
  
  .item-icone {
    flex: 5px;
    /* border:1px solid orangered;  */
    text-align: center;
    font-size: 2rem;
  }
  
  .item-nome {
    flex: 55%;
    /* border:1px solid deeppink;  */
    font-size: 20px;
    font-weight: bold;
  }
  
  .item-botao {
    flex: 25%;
    /* border:1px solid green;    */
  }
  
  .delete {
    background: red;
    color: white;
    border: none;
    padding: 10px;
    height: 80px;
    width: 40%;
    margin-left: 170px;
    cursor: pointer;
  }
  
  .mdi-check-circle {
    color: green;
  }
  
  